body{
  background: linear-gradient(to bottom right, #000000, #7c0101, #0010a1, #000000);
}


/* Custom styling for my name title */
.TitleName{
  color: white;
  text-shadow: lightblue 0 0 15px;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  margin-top:20px;
  cursor: default;
}

/* Custom styling for portrait image */
.portrait {
  width: 200px;
  height: auto;
}

/* Custom styling for about */
.about
{
  color: rgba(255, 255, 255, 255);
  font-family: 'cascadia', 'monospace';
  font-size: 20px; 
  letter-spacing: -.05rem;
  cursor: default;
}

/* Custom styling for the hr */
hr{
  color: white;
}

/* Custom styling for the quick links */
.bi{
  font-size: 25px;
  color: white;
  text-shadow: lightblue 0 0 3px;
}

/* Custom styling for the navigation buttons */
.neon-button {
  background-color: #000a1a;
  font-size: 25px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 2rem;
  border-radius: 0.25em;
  position: relative;
}

.neon-button_ {
  background-color: #000a1a;
  color: white;
  border: white 0.125em solid;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;
  box-shadow: inset 0 0 0.5em 0 white, 0 0 0.5em 0 white;
}

/* Custom styling for shadow cast before */
.neon-button::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.25);
  filter: blur(1.5em);
  opacity: 0.4;
  pointer-events: none;
}

.neon-button_::before {
  background-color: white;
  transition: 0.5s;
}

.neon-button_:hover {
  background-color: white;
  color: black;
  transition: 0.5s ease-in-out;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}
@keyframes scalingShadow {
  0% {
    top: 120%;
    transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
  }
  50% {
    top: 165%;
    transform: perspective(1.5em) rotateX(45deg) scale(0.75, 0.3);
  }
  100% {
    top: 120%;
    transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
  }
}

/* Custom styling for the project buttons */
.project-btn
{
  border: 2px solid white;
	position: relative;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	transition: transform .3s;
  vertical-align: middle;
}

.project-btn > img
{
  height: 100px;
  width: 100px;
}

.project-btn:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5); 
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
  cursor: pointer;
}

/* Custom styling for the sections title */
.projectTitle{
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-top:20px;
  cursor: default;
}
.careerTitle{
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-top:20px;
  cursor: default;
}
.skillsTitle{
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-top:20px;
  cursor: default;
}


/* Custom styling for ProfitHub area */
/* Custom styling for title */
.ProfitHub > a > img{
  color: white;
  width: 400px;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-top:20px;
  cursor: default;
}

/* Custom styling for the info */
.infoProfitHub{
  margin-top: 25px;
  cursor: default;
}
.infoProfitHub > span{
  margin-left: 5px;
  margin-right: 5px;
  cursor: default;
  font-size: 15px;
}

/* Custom styling for text */
.content {
  text-align: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  margin-top:20px;
  cursor: default;
  max-width: 800px;
  padding: 20px;
}

/* Custom styling for images */


/* Custom styling for GunRunner area */
/* Custom styling for title */
.GunRunnerTitle{
  color: white;
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
  margin-top:20px;
  cursor: default;
}
/* Custom styling for gameplay video */


/****************** Skills section *********************/

#pt {
  color: rgba(255, 255, 255, 255);
  font-family: 'cascadia', 'monospace';
  font-size: 20px;
  letter-spacing: -.05rem;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#skill-chart-title
{
  color: white;
  text-align: center; 
  font-size: 3rem; 
  letter-spacing: -.05rem;
  margin-bottom: 15px;
}

/* ---------------------------------------------------- */

.chart_parent
{
  border: 2px dotted white;
}
.chart .metric 
{
  background-color: rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0);
  color: white;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 10px;
  text-align: left;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.6);
  font-family: 'cascadia', 'monospace';

}
.chart .metric .metric-value {
  font-weight: bold;
}

.chart-horizontal {
  width: 100%;
}
.chart-horizontal .metric {
  margin-bottom: 3px;
  min-width: 100px;
  padding: 6px 15px;
}
.chart-horizontal .metric .metric-value {
  float: right;
  font-weight: bold;
}
